Repository cherkasovaa/website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown, npx stylelint --fix

chore: add github actions ci workflow
  .github/workflows/ci.yml
Due: none

fix: github action ci
  .github/workflows/ci.yml
Due: none

fix: base url for dev and prod
  vite.config.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

refactor: delete build folder
  build/index.html
Due: none

fix: update base url in vite config
  vite.config.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add dynamic favicons for light and dark themes
  index.html
  public/favicon/dark-favicon.ico
  public/favicon/light-favicon.ico
Due: none

feat: add basic routing with layout
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/layout/Layout.tsx
  src/app/routes/AppRouter.tsx
  src/app/routes/index.ts
  src/shared/config/router/paths.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add theme provider
  src/app/App.tsx
  src/app/providers/ThemeProvider/index.ts
  src/app/providers/ThemeProvider/model/context.ts
  src/app/providers/ThemeProvider/model/types.ts
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add universal Heading component
  src/shared/ui/Heading/Heading.tsx
  src/shared/ui/Heading/model/constants.ts
  src/shared/ui/Heading/model/types.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

chore: update config
  .prettierrc
  package-lock.json
  package.json
  src/global.d.ts
  vite.config.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

style: add theme variables and update stylelint config
  .stylelintrc.json
  index.html
  src/app/styles/global.css
Due: npx prettier --write --ignore-unknown, npx stylelint --fix

feat: add RouterLink component
  src/shared/model/interfaces.ts
  src/shared/ui/RouterLink/RouterLink.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add ErrorAnimation component
  src/shared/assets/animations/404-animation.lottie
  src/shared/ui/ErrorAnimation/ErrorAnimation.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add NotFound page
  src/app/routes/AppRouter.tsx
  src/pages/not-found/NotFoundPage.tsx
  src/pages/not-found/constants/constants.ts
  src/pages/not-found/index.ts
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add Main component as wrapper for all content
  src/app/layout/Layout.tsx
  src/widgets/Main/Main.tsx
  src/widgets/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: update favicon
  index.html
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
Due: none

style: update accent color in the light theme
  src/app/styles/global.css
Due: npx prettier --write --ignore-unknown, npx stylelint --fix

feat: add Logo component
  src/global.d.ts
  src/shared/assets/images/logo.png
  src/shared/ui/Logo/Logo.tsx
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add navigation menu
  src/features/NavigationMenu/NavigationMenu.tsx
  src/features/NavigationMenu/model/constants.ts
  src/features/NavigationMenu/model/types.ts
  src/features/index.ts
  src/shared/model/interfaces.ts
  src/shared/ui/RouterLink/RouterLink.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add burger menu
  src/app/styles/global.css
  src/shared/ui/BurgerMenu/BurgerMenu.tsx
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown, npx stylelint --fix

feat: add header component
  src/app/layout/Layout.tsx
  src/widgets/Header/Header.tsx
  src/widgets/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

refactor: restructure folders in widget and feature layers
  src/app/layout/Layout.tsx
  src/features/index.ts
  src/features/navigation-menu/NavigationMenu.tsx
  src/features/navigation-menu/model/constants.ts
  src/features/navigation-menu/model/types.ts
  src/widgets/footer/index.ts
  src/widgets/footer/ui/Footer.tsx
  src/widgets/header/index.ts
  src/widgets/header/ui/Header.tsx
  src/widgets/index.ts
  src/widgets/main/index.ts
  src/widgets/main/ui/Main.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add footer component
  package-lock.json
  package.json
  src/app/layout/Layout.tsx
  src/widgets/footer/ui/Footer.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

refactor: restructure folder not found
  src/pages/not-found/NotFoundPage.tsx
  src/pages/not-found/index.ts
  src/pages/not-found/ui/NotFoundPage.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

fix: stretch main component by height
  src/app/styles/global.css
  src/widgets/main/ui/Main.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown, npx stylelint --fix

fix: change ru-Ru text to en-Us on 404 page
  src/pages/not-found/constants/constants.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: change lottie animation on the 404 page
  src/shared/assets/animations/404-animation_2.lottie
  src/shared/ui/ErrorAnimation/ErrorAnimation.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

style: font weight semibold for footer text
  src/widgets/footer/ui/Footer.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

style: reduced logo size
  src/shared/ui/Logo/Logo.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

fix: display 404 page on mobile device
  src/pages/not-found/ui/NotFoundPage.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

fix: font size of mobile menu
  src/features/navigation-menu/NavigationMenu.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

fix: remove unused button component
  src/pages/Home/Home.tsx
  src/shared/ui/Button/Button.test.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

fix: add Netlify SPA redirect rule
  public/_redirects
Due: none

refactor: restructure home page folder and add HomePage component
  src/app/routes/AppRouter.tsx
  src/pages/home/index.ts
  src/pages/home/ui/HomePage.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

test: router link
  package-lock.json
  package.json
  src/shared/ui/RouterLink/RouterLink.test.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add Button component
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button/model/types.ts
  src/shared/ui/ButtonBracket/ButtonBracket.tsx
  src/shared/ui/ButtonBracket/model/types.ts
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

chore: add motion dependency
  package-lock.json
  package.json
Due: none

feat: add hook for fadeInUp animation
  src/shared/lib/hooks/useFadeInUpAnimation.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add greeting section for hero screen
  src/features/hero-greeting/index.ts
  src/features/hero-greeting/ui/HeroGreeting.tsx
  src/pages/home/ui/HomePage.tsx
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add terminal component in the hero screen
  src/features/terminal/index.ts
  src/features/terminal/model/constants.ts
  src/features/terminal/ui/Terminal.tsx
  src/pages/home/ui/HomePage.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

Path conditions:
  npx eslint --fix --config eslint.config.mjs: any of: *.{js,ts,jsx,tsx}
  npx prettier --write --ignore-unknown: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{css,scss})
  npx stylelint --fix: any of: *.{css,scss}
