Repository cherkasovaa/website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown, npx stylelint --fix

feat: update hosting platform from Netlify to Vercel in portfolio website description
  src/shared/model/projects/constants.ts
  src/shared/model/technologies.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: implement ThemeSwitcher component and update ThemeProvider
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/shared/config/theme/constants.ts
  src/shared/lib/hooks/useTheme.ts
  src/shared/lib/utils/getInitialTheme.ts
  src/shared/lib/utils/getSystemTheme.ts
  src/shared/model/providers/context.ts
  src/shared/model/providers/types.ts
  src/shared/ui/ThemeSwitcher/ThemeSwitcher.tsx
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: integrate Theme Switcher into Header layout
  src/features/navigation-menu/ui/NavigationMenu.tsx
  src/shared/lib/hooks/useBreakpoints.ts
  src/shared/ui/Logo/Logo.tsx
  src/widgets/header/ui/Header.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

docs: update Readme file
  README.md
Due: none

chore: remove unused script `format:check`
  package.json
Due: none

chore: downgrade to React 18 and install react-helmet-async
  package-lock.json
  package.json
Due: none

feat: add SEO meta tags to pages
  src/app/App.tsx
  src/pages/home/model/seo.constants.ts
  src/pages/home/ui/HomePage.tsx
  src/pages/not-found/constants/seo.constants.ts
  src/pages/not-found/ui/NotFoundPage.tsx
  src/pages/portfolio/constants/seo.constants.ts
  src/pages/portfolio/ui/PortfolioPage.tsx
  src/shared/ui/SEO/SEO.tsx
  src/shared/ui/index.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

docs: update React version and add React Helmet to technology stack
  README.md
Due: none

chore: add `format:check` script
  package.json
Due: none

docs: add script `npm run format:check` and description to the readme
  README.md
Due: none

feat: add latest resume
  public/resume_2025.pdf
Due: none

feat: update about myself text
  src/widgets/about-section/model/constants.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: remove info about Github from tech stack
  src/widgets/skill-section/model/hardSkills.constants.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

fix: add vercel.json for SPA 404 redirect
  vercel.json
Due: none

chore: update devDependencies
  .lintstagedrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/styles/global.css
  tailwind.config.ts
  vite.config.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown, npx stylelint --fix

refactor: remove unused properties from tsconfig file
  tsconfig.json
Due: none

feat: change global.d.ts to vite-env.d.ts
  src/global.d.ts
  src/vite-env.d.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

chore: update eslint config
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

feat: add new projects
  public/assets/images/projects/github-search.png
  public/assets/images/projects/pokedex.png
  src/shared/model/projects/constants.ts
  src/shared/model/technologies.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: add freelance project `cleanglow`
  src/shared/model/experience/constants.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: update tech stack and add projects `tattoo` and `poolmax`
  src/shared/model/projects/constants.ts
  src/shared/model/technologies.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: remove info about my free time
  src/widgets/about-section/model/constants.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

fix: lint issues
  src/entities/skill-list/ui/SkillList.tsx
  src/features/terminal/ui/CommandLines.tsx
  src/features/terminal/ui/InputLine.tsx
  src/shared/lib/hooks/useFadeInLeftAnimation.ts
  src/shared/ui/SkillCard/SkillCard.tsx
  src/widgets/skill-section/ui/HardSkillCard.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

chore: migrate project from Vite to Next.js
  .gitignore
  .prettierrc
  app/[[...slug]]/client.tsx
  app/[[...slug]]/page.tsx
  app/favicon.ico
  app/layout.tsx
  eslint.config.mjs
  index.html
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/assets/animations/404-animation.json
  src/app/index.tsx
  src/app/styles/globals.css
  src/pages/home/ui/HomePage.tsx
  src/shared/assets/animations/404-animation.lottie
  src/shared/assets/animations/404-animation_2.lottie
  src/shared/assets/images/logo.png
  src/shared/assets/images/logo_old.png
  src/shared/ui/ErrorAnimation/ErrorAnimation.tsx
  src/shared/ui/Image/Image.tsx
  src/shared/ui/RouterLink/RouterLink.test.tsx
  src/shared/ui/ThemeSwitcher/ThemeSwitcher.tsx
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown, npx stylelint --fix

feat: switch theme persistence from localStorage to cookies
  app/layout.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/shared/lib/utils/getInitialTheme.ts
  src/shared/lib/utils/getSystemTheme.ts
  src/shared/model/providers/types.ts
  src/shared/ui/ThemeSwitcher/ThemeSwitcher.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

refactor: remove unused components
  app/[[...slug]]/client.tsx
  app/page.tsx
  src/app/App.tsx
  src/app/layout/Layout.tsx
  src/widgets/main/index.ts
  src/widgets/main/ui/Main.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: replace `motion/react` to `framer-motion`
  src/features/terminal/ui/Terminal.tsx
  src/shared/ui/Logo/Logo.tsx
  src/shared/ui/SkillCard/SkillCard.tsx
  src/widgets/header/ui/Header.tsx
  src/widgets/hero-section/ui/HeroSection.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

chore: update eslint config
  eslint.config.mjs
Due: none

chore: update path alias
  app/layout.tsx
  src/app/providers/ThemeProvider/ui/ThemeProvider.tsx
  src/entities/card/ui/Card.tsx
  src/entities/experience-card/model/types.ts
  src/entities/experience-card/ui/ExperienceCard.tsx
  src/entities/project-card/model/types.ts
  src/entities/skill-list/model/types.ts
  src/entities/skill-list/ui/SkillList.tsx
  src/features/experience-list/ui/ExperienceList.tsx
  src/features/navigation-menu/model/types.ts
  src/features/navigation-menu/ui/NavigationMenu.tsx
  src/features/project-list/ui/ProjectList.tsx
  src/features/project-table/model/types.ts
  src/pages/home/ui/HomePage.tsx
  src/pages/portfolio/ui/PortfolioPage.tsx
  src/shared/lib/hooks/useLimitedList.ts
  src/shared/lib/hooks/useTheme.ts
  src/shared/ui/BurgerMenu/BurgerMenu.tsx
  src/shared/ui/Button/model/types.ts
  src/shared/ui/Heading/Heading.tsx
  src/shared/ui/RouterLink/RouterLink.test.tsx
  src/shared/ui/Section/Section.tsx
  src/shared/ui/Skeleton/Skeleton.tsx
  src/shared/ui/TechStack/TechStack.tsx
  src/shared/ui/ThemeSwitcher/ThemeSwitcher.tsx
  src/widgets/about-section/ui/AboutSection.tsx
  src/widgets/experience-section/ui/ExperienceSection.tsx
  src/widgets/portfolio-section/ui/PortfolioSection.tsx
  src/widgets/skill-section/lib/parseSkills.ts
  src/widgets/skill-section/model/softSkills.constants.ts
  src/widgets/skill-section/model/types.ts
  src/widgets/skill-section/ui/HardSkillCard.tsx
  src/widgets/skill-section/ui/SkillsSection.tsx
  tsconfig.json
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

feat: implement 404 page as server component
  app/not-found.tsx
  src/pages/not-found/constants/constants.ts
  src/pages/not-found/constants/seo.constants.ts
  src/pages/not-found/index.ts
  src/pages/not-found/ui/NotFoundPage.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

refactor: migrate from react-router Link to next/link
  src/features/project-table/ui/ProjectTableRow.tsx
  src/shared/ui/RouterLink/RouterLink.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

refactor: migrate from <img> to next/image
  src/entities/project-card/ui/ProjectCard.tsx
  src/shared/ui/Image/Image.tsx
  src/shared/ui/Image/ImageComponent.tsx
  src/shared/ui/index.ts
  src/widgets/about-section/ui/AboutSection.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

chore: clean up unused components AppRouter, ErrorAnimation and SEO
  src/app/routes/AppRouter.tsx
  src/app/routes/index.ts
  src/shared/ui/ErrorAnimation/ErrorAnimation.tsx
  src/shared/ui/SEO/SEO.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

refactor: migrate Breadcrumbs
  src/shared/ui/Breadcrumbs/Breadcrumbs.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

refactor: move globals.css to `app/` folder
  app/globals.css
Due: npx prettier --write --ignore-unknown, npx stylelint --fix

refactor: migrate Home and Portfolio pages to Next.js App Router
  app/[...rest]/page.tsx
  app/page.tsx
  app/portfolio/page.tsx
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

chore: update postcss config
  postcss.config.mjs
Due: none

docs: add readme file to `pages/` dir
  pages/README.md
Due: none

chore: clean up unused seo constants
  src/pages/home/model/seo.constants.ts
  src/pages/portfolio/constants/seo.constants.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

fix: useBreakpoints hook
  src/shared/lib/hooks/useBreakpoints.ts
Due: npx eslint --fix --config eslint.config.mjs, npx prettier --write --ignore-unknown

Path conditions:
  npx eslint --fix --config eslint.config.mjs: any of: *.{js,ts,jsx,tsx}
  npx prettier --write --ignore-unknown: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{css,scss})
  npx stylelint --fix: any of: *.{css,scss}
